$edit-icons-columns: 12;
$edit-icons-rows: 2;
$edit-icons-size: 16px;

.cardformat-toolbar {
  > .button {
    font-size: 0;
    border-color: transparent;
    display: inline-block;
    border-radius: 4px;
    border-width: 1px;
    // For all controls on this form, the onfocussed style for placeholders is
    // $standard-grey @ opacity 70%.
    opacity: 0.7;
    transition: background-color 0.1s;

    &:hover {
      background: $really-light-grey;
      opacity: 1;
      transition-property: none;
      filter: none;
    }
    &:focus {
      border-color: $highlight;
      border-style: dotted;
      opacity: 1;
    }
    &:active {
      background: $light-grey;
      opacity: 1;
    }

    &::before {
      content: "";
      width: $edit-icons-size;
      height: $edit-icons-size;
      padding: .4rem;
      display: inline-block;
      background-image: url('img/edit-icons.svg');
      background-origin: content-box;
      background-clip: content-box;
      background-position-y: -$edit-icons-size;
      background-size: $edit-icons-size * $edit-icons-columns  $edit-icons-size * $edit-icons-rows;
      background-repeat: no-repeat;
    }
    &.italic::before  {
      background-position-x: -1 * $edit-icons-size;
    }
    &.underline::before  {
      background-position-x: -2 * $edit-icons-size;
    }
    &.emphasis::before  {
      background-position-x: -3 * $edit-icons-size;
    }

    &:hover::before {
      background-position-y: 0;
    }
  }

  &.-center {
    display: flex;
    justify-content: center;
  }

  // Set when any of the buttons or connected textfields are focussed
  &.-areafocus {
    > .button {
      opacity: 1;
      // Set whenever the button's feature is active (e.g. selected text is
      // bold)
      &.-set::before {
        background-position-y: 0;
      }
    }
  }
}
