// Actual buttons

.button {
  padding: .4em 1em;
  outline: 0;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  // This is important for when this is applied to <a> elements
  box-sizing: border-box;
  outline: none;

  background: transparent;
  border: $border-width solid $highlight;
  border-radius: .3em;
  color: $highlight;

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    /*
     * Using a filter here (and below) means that when we put SVG icons in
     * the buttons we don't have to prepare special recolored versions of them.
     */
    filter: brightness(1.2);
  }

  &:disabled, &:hover:disabled {
    filter: grayscale(1);
  }

  &:focus {
    border-color: $highlight;
    box-shadow: 0 0 0 .2rem lighten($highlight, 50%);
  }

  // Variations

  // A default button
  &.-primary {
    background: $highlight;
    color: white;
    &.-icon::before {
      background-position-y: -4em;
    }

    // Make the shadow a bit larger for primary buttons so it stands out more
    &:focus {
      box-shadow: 0 0 0 .4rem lighten($highlight, 50%);
    }
  }

  // A button without a border, somewhat like a link
  &.-borderless {
    border-style: dotted;
    border-color: transparent;

    &:focus {
      border-color: $highlight;
      outline: none;
      box-shadow: none;
    }
  }

  // A large button
  &.-large {
    font-size: 1.4rem;
    padding: 0.5em 1.4em;
    border-radius: 2em;
    &.-icon {
      padding-left: 1.4em + 1em + 0.5em;
    }
  }

  // A centered button
  &.-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  // But if it's an icon button, don't override the flex display
  &.-center.-icon {
    display: flex;
  }

  &.-yellow {
    background: $keyword-yellow;
    color: $keyword-yellow-dark;

    &:active, &:focus {
      filter: brightness(1.05);
      border-color: $keyword-yellow-dark;
      border-style: dotted;
    }
    &:hover {
      filter: brightness(1.08);
    }
  }
}

@media screen and (max-width: 600px) {
  .button {
    &.-large {
      font-size: 1.2rem;
    }
  }
}

// Icon styles for buttons and links are common. I don't know where this belongs
// because I still don't really get ITCSS.
button.-icon, a.-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em + 1em + 0.5em;

  &::before {
    content: "";
    display: inline-block;
    position: relative;

    width: 1em;
    height: 1em;

    background-image: url('img/icons.svg');
    background-position-y: -3em;
    background-size: $icon-columns+em $icon-rows+em;
    background-repeat: no-repeat;

    margin-left: -1.5em;
    margin-right: 0.5em;
  }
  &.-yellow::before {
    background-position-y: -5em;
  }
  &.-search::before {
    background-position-x: -1em;
  }
  &.-sync::before {
    background-position-x: -2em;
  }
  &.-delete::before {
    background-position-x: -3em;
  }
  &.-add-card::before {
    background-position-x: -4em;
  }
  &.-add-note::before {
    background-position-x: -19em;
  }
  &.-edit::before {
    background-position-x: -5em;
  }
  &.-edit-card::before {
    background-position-x: -6em;
  }
  &.-lookup::before {
    background-position-x: -7rem;
  }
  &.-review::before {
    background-position-x: -8em;
  }
  &.-play::before {
    background-position-x: -12em;
  }
  &.-pause::before {
    background-position-x: -13em;
  }
  &.-settings::before {
    background-position-x: -14em;
  }
}

button.-badge::after, a.-badge::after {
  position: relative;
  transform: translate(.2rem, -.3rem);

  font-size: .7rem;
  height: .9rem;
  min-width: .7rem;
  padding: .1rem .2rem;
  text-align: center;
  whitespace: nowrap;

  background: $highlight;
  border-radius: .5rem;
  color: white;
  content: attr(data-badge);
  display: inline-block;
}

@mixin grey-button($icon-column) {
  font-size: 0;

  &::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    padding: 1rem;
    display: inline-block;
    background: url('img/icons.svg') ($icon-column * -100%) -200% / (($icon-columns * 1.2)+rem) ($icon-rows * 1.2)+rem content-box;
  }
}

.close-button {
  @include grey-button(9);
}

.settings-button {
  @include grey-button(14);
}
