.addnote-button {
  color: $keyword-yellow-dark;
  cursor: pointer;

  // XXX See how much of this we really need
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  // Edge support
  @supports (not (width: fit-content)) and (not (width: -moz-fit-content)) and (not (width: -webkit-fit-content)) {
    display: table;
  }

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  position: relative;
  will-change: transform, opacity;

  > .front {
    > .toprow > .top, > .body {
      background: $keyword-yellow;
    }

    > .toprow {
      width: 100%;
      display: flex;

      > .top {
        flex: 1;
        will-change: transform;
      }

      > .corner {
        width: 1em;
        height: 1em;
        will-change: transform;
      }
    }

    > .body {
      padding-left: 3.2em;
      padding-right: 2em;
      padding-bottom: 1em;
      will-change: transform;

      > .label {
        display: flex;
        align-items: center;
        will-change: opacity;
      }

      > .label::before {
        content: "";
        display: inline-block;
        position: relative;

        width: 1em;
        height: 1em;

        background-image: url('img/icons.svg');
        background-position-x: -19em;
        background-position-y: -5em;
        background-size: $icon-columns+em $icon-rows+em;
        background-repeat: no-repeat;

        margin-left: -1.5em;
        margin-right: 0.5em;
      }
    }
  }

  > .shadow {
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 1.7rem 0 0;

    background: rgba(0, 0, 30, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 30, 0.2);

    &.topright {
      box-shadow: none;
    }
  }

  &:focus, &:active {
    // We want to use the following filter here:
    //
    //   filter: brightness(1.03);
    //
    // But that seems to affect animation perf on Firefox so we just directly
    // apply the colors to the components.
    //
    // That means the icon won't get recolored correctly but you generally won't
    // notice it (not like the jankiness which you definitely notice!) and we
    // can always prepare other color versions of those icons if needed.
    color: #d3bf00;
    > .front {
      > .toprow > .top, > .body {
        background-color: #ffffd3;
      }
    }
  }

  &:hover {
    // As above, we'd like to use the following filter if we could:
    //
    //   filter: brightness(1.08);
    //
    color: #ddc800;
    > .front {
      > .toprow > .top, > .body {
        background-color: #ffffdd;
      }
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    > .front {
      transform: translateY(1px);
    }
  }
}
