.edit-screen {
  height: 100%;
  background: $really-light-grey;

  > .buttons {
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0px;
  }

  > .form {
    margin: 1rem;
  }
}
