// TODO:
// - Make the React component set the transform property of the line element
//   appropriately (and have it transition).
// - Redo the button icons as a separate grid image where we use
//   background-position to position instead. For SVG stacks, it seems like the
//   browser treats it as a separate resource so there's some flicker when it
//   first loads an icon.
// - Add icons for:
//   -addcard
//   -editcard
.tab-block {
  position: relative;
  display: flex;
  align-items: start;
  flex-wrap: wrap;

  // Reset list styles
  list-style: none;
  padding: 0;

  & > .highlight-bar {
    position: absolute;
    left: 0;
    top: 0;

    height: $border-width * 2;
    background-color: $highlight;
    transition: transform 0.15s;
    will-change: transform;
  }
}

.tab-item {
  flex: 1;
  text-align: center;

  & > a {
    position: relative;
    display: block;
    // The 1.2rem horizontal padding is so that if the text wraps the icon still
    // fits inside the bounds.
    padding: .5rem 1.2rem;
    border-top: $border-width * 2 solid transparent;

    text-decoration: none;
    color: $text-color;
    transition: color 0.15s, border-top-color 0.3s;
    &:hover,
    &:focus {
      border-color: $dark-grey;
    }

    &.-icon::before {
      content: "";
      display: inline-block;
      position: absolute;

      width: 1rem;
      height: 1.1rem;
      background-size: 1rem 1rem;
      background-repeat: no-repeat;
      background-position-y: 0.1rem;

      margin-left: -1.5rem;
    }
    &.-search::before {
      background-image: url('img/icons.svg#search-dark');
    }
    &.-add::before {
      background-image: url('img/icons.svg#plus-dark');
    }
    &.-review::before {
      background-image: url('img/icons.svg#review-dark');
    }
  }
  &.active > a {
    color: $highlight;
    &:hover,
    &:focus {
      filter: brightness(1.2);
    }

    &.-search::before {
      background-image: url('img/icons.svg#search-highlight');
    }
    &.-add::before {
      background-image: url('img/icons.svg#plus-highlight');
    }
    &.-review::before {
      background-image: url('img/icons.svg#review-highlight');
    }
  }
  // Make the highlight bar also go brighter
  &.active:hover ~ .highlight-bar,
  &.active:focus-within ~ .highlight-bar {
    filter: brightness(1.2);
  }
  & > a.-badge[data-badge]::after {
    // This is fairly similar to spectre.css but with a few tweaks to
    // positioning, sizing etc.
    position: absolute;
    margin-left: .2rem;
    margin-top: -.3rem;

    font-size: .7rem;
    height: .9rem;
    min-width: .7rem;
    padding: .1rem .2rem;
    text-align: center;
    whitespace: nowrap;

    background: $highlight;
    border-radius: .5rem;
    color: white;
    content: attr(data-badge);
    display: inline-block;
  }
}
