.review-screen {
  min-height: 100%;
  background: $really-light-grey;

  display: flex;
  flex-direction: column;

  & > .buttons {
    width: 100%;
    text-align: right;
    // Let's do this quirks-mode style
    line-height: 0;
  }
  & > .content {
    flex: 1 0 auto;

    &.summary-panel > .details {
      text-align: center;
    }
  }
  & > .progress {
    height: 0.5rem;
    width: 100%;
  }
}
