// TODO:
// - Use button-icons.svg in other styles
//   - Need to work on text boxes --- might need to be separate files since they
//     can't include other elements
//   - Then rename:
//     icons.svg -> sync-icons.svg
//     buttons-icons.svg -> icons.svg
//   - Drop redundant icons from sync-icons.svg
//   - Drop text-box style
.tab-block {
  position: relative;
  display: flex;
  align-items: start;
  flex-wrap: wrap;

  // Reset list styles
  list-style: none;
  padding: 0;

  & > .highlight-bar {
    position: absolute;
    left: 0;
    top: 0;

    height: $border-width * 2;
    background-color: $highlight;
    transition: transform 0.15s;
    will-change: transform;
  }
}

.tab-item {
  flex: 1;
  text-align: center;

  & > a {
    position: relative;
    display: block;
    // The 1.2rem horizontal padding is so that if the text wraps the icon still
    // fits inside the bounds.
    padding: .5rem 1.2rem;
    border-top: $border-width * 2 solid transparent;

    text-decoration: none;
    color: $text-color;
    transition: color 0.15s, border-top-color 0.3s;
    &:hover,
    &:focus {
      border-color: $dark-grey;
    }

    &.-icon::before {
      content: "";
      display: inline-block;
      position: absolute;

      width: 1rem;
      height: 1rem;
      background-size: 14rem 5rem;
      background-repeat: no-repeat;
      background-position-y: -1rem;
      background-image: url('img/button-icons.svg');

      margin-top: 0.1rem;
      margin-left: -1.5rem;
    }
    &.-search::before {
      background-position-x: -1rem;
    }
    &.-lookup::before {
      background-position-x: -7rem;
    }
    &.-review::before {
      background-position-x: -8rem;
    }
  }
  &.active > a {
    color: $highlight;
    &:hover,
    &:focus {
      filter: brightness(1.2);
    }

    &.-icon::before {
      background-position-y: -3rem;
    }
  }
  // Make the highlight bar also go brighter
  &.active:hover ~ .highlight-bar,
  &.active:focus-within ~ .highlight-bar {
    filter: brightness(1.2);
  }
  & > a.-badge[data-badge]::after {
    // This is fairly similar to spectre.css but with a few tweaks to
    // positioning, sizing etc.
    position: absolute;
    margin-left: .2rem;
    margin-top: -.3rem;

    font-size: .7rem;
    height: .9rem;
    min-width: .7rem;
    padding: .1rem .2rem;
    text-align: center;
    whitespace: nowrap;

    background: $highlight;
    border-radius: .5rem;
    color: white;
    content: attr(data-badge);
    display: inline-block;
  }
}
