.editcard-toolbar {
  background: white;
  z-index: 1;
  box-shadow: 0 2px 2px $light-grey;
  padding: 0.5rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;

  > * {
    flex: 1 0 0;

    display: flex;
    align-items: center;
  }

  > .-center {
    flex: 0 0 auto;
  }

  > *:last-child {
    justify-content: flex-end;
  }

  .close-button {
    padding: .5rem;
  }
}
