.token-list {
  position: relative;

  > .input {
    @include textbox-styles;

    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    // Replace textbox-styles' height: 3rem with an equivalent min-height since
    // we expect this to wrap.
    height: auto;
    min-height: 3rem;
    box-sizing: border-box;

    // We drop 0.4em from the padding-bottom and put it on the chip and text's
    // margin-bottom instead so that there is a gap between chips when the
    // control wraps
    padding-bottom: 0.4em - 0.4em;

    > .chip {
      display: inline-flex;
      align-items: center;

      box-sizing: border-box;
      // 0.4em is the vertical padding of the text box
      height: calc(3rem - (0.4em * 2));
      margin: 0 .5em .4em 0;
      padding: .2em 0 .2em .4em;

      vertical-align: middle;
      cursor: default;

      border: $border-width solid $highlight;
      border-radius: .3em;
      color: $highlight;

      background: lighten($highlight, 50%);

      &:hover, &:focus-within {
        filter: brightness(1.2);
      }

      &:focus-within {
        border-style: dashed;
      }

      > .clear {
        background: none;
        border: 0;
        padding: .3em .4em;

        // Drop filter so we don't get double highlight
        &:hover {
          filter: none;
        }
      }
    }

    > .textentry, > .textentry:focus {
      flex: 1;

      border: none;
      box-shadow: none;
      // 0.4em is the vertical padding of the text box
      height: calc(3rem - (0.4em * 2));
      padding: 0;

      // See above
      margin-bottom: .4rem;
    }
  }

  > .candidates {
    position: absolute;
    left: 2px;
    top: 100%;
    width: calc(100% - 4px);
    box-sizing: border-box;

    // Move up enough to overlap bottom border of text box
    transform: translateY(-.2rem);

    background: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 30, 0.2);
    border-top: 2px dotted $light-grey;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;

    list-style: none;
    margin: 0;
    padding: .6em;
    // As above, we move some of the bottom padding to the item margin
    padding-bottom: .6em - .4em;
    z-index: 300;

    > .item {
      display: inline-block;

      margin: 0 .4em .4em 0;
      padding: .2em .4em;

      vertical-align: middle;

      border: $border-width solid $highlight;
      border-radius: .3em;
      color: $highlight;

      background: lighten($highlight, 50%);
      // Make these a bit more feint so it's clear they're not locked-in yet
      opacity: 0.6;

      &:hover, &:focus-within {
        filter: brightness(1.2);
        opacity: 1;
      }

      &:focus-within {
        border-style: dashed;
        & a {
          outline: none;
        }
      }
    }
  }

  &.-yellow {

    > .input {
      background-color: $keyword-yellow;

      > .textentry {
        background-color: $keyword-yellow;
        color: $keyword-yellow-dark;
      }

      > .chip {
        border-color: $keyword-yellow-dark;
        color: $keyword-yellow-dark;
        background-color: lighten($keyword-yellow, 5%);

        > .clear {
          color: $keyword-yellow-dark;
        }

        &:hover, &:focus-within {
          // The brightness we use for the normal style washes this out
          filter: brightness(1.06);
        }
      }
    }

    > .candidates {
      background: $keyword-yellow;
      border-top-color: $keyword-yellow-dark;

      > .item {
        border-color: $keyword-yellow-dark;
        color: $keyword-yellow;

        background-color: lighten($keyword-yellow, 5%);

        &:hover, &:focus-within {
          filter: brightness(1.06);
        }

        > a {
          color: $keyword-yellow-dark;
        }
        mark {
          background: white;
        }
      }
    }
  }
}
