.reviewcard-front, .reviewcard-back {
  box-sizing: border-box;

  background: white;
  border: $border-width solid $dark-grey;
  border-radius: 1rem;
}

.reviewcard-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  > .question {
    padding: 2rem;

    &[data-size=x-small] {
      font-size: 12px;
    }
    &[data-size=small] {
      font-size: 24px;
    }
    &[data-size=medium] {
      font-size: 48px;
    }
    &[data-size=large] {
      font-size: 72px;
    }
    &[data-size=x-large] {
      font-size: 96px;
    }
  }
}

@media screen and (max-width: 600px) {
  .reviewcard-front > .question {
     &[data-size=x-small] {
       font-size: 10px;
     }
     &[data-size=small] {
       font-size: 16px;
     }
     &[data-size=medium] {
       font-size: 24px;
     }
     &[data-size=large] {
       font-size: 40px;
     }
     &[data-size=x-large] {
       font-size: 60px;
     }
  }
}

.reviewcard-back {
  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  > .question {
    height: 33%;
  }
  > .divider {
    height: 1%;
    width: 80%;
    border: none;
    border-top: 2px dotted $dark-grey;
  }
  > .answer {
    height: 66%;
  }
}
