.close-button {
  font-size: 0;

  &::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    background: url('img/icons.svg') -900% -200% / (($icon-columns * 1.2)+rem)
      ($icon-rows * 1.2)+rem content-box;
  }
}
