.editnote-form {
  .keywords {
    display: flex;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    > .icon {
      margin-top: 1rem;
      margin-left: .9rem;
    }

    > .tokens {
      flex: 1;
    }

    > .icon {
      background-position-y: -5em;
    }

    > .icon, > .tokens > .textentry {
      opacity: 0.7;
    }
    &:hover, &:focus-within {
      > .icon, > .tokens > .textentry {
        opacity: 1;
      }
    }
  }

  .body {
    border-top: 1px dotted $keyword-yellow-dark;
  }

  &.-nomatch .body {
    opacity: 0.5;
  }

  &.-nokeywords .body {
    opacity: 0.5;
    filter: hue-rotate(310deg);
  }

  .content {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    min-height: 3rem;
    font-size: 1.2rem;
    cursor: text;

    color: lighten($text-color, 20%);
    &:hover, &:focus-within {
      color: $text-color;
    }

    .public-DraftEditorPlaceholder-root {
      color: $keyword-yellow-dark;
      opacity: 0.7;
    }

    &:hover .public-DraftEditorPlaceholder-root {
      opacity: 1;
    }

    .public-DraftEditorPlaceholder-hasFocus {
      display: none;
    }
  }

  .controls {
    display: flex;
    padding: .4rem;

    .delete {
      color: $warning-red;
    }

    .savestate {
      flex: 1;
      padding: .4rem;
      // This is to match the equivalent padding on the buttons on the right.
      // It'll do for now.
      padding-right: 1em;
    }
  }

  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .status {
    font-size: 0.8rem;
    font-style: italic;
    padding: 0.5rem 1rem;
  }
}
