// Actual buttons

.button {
  padding: .4em 1em;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  // This is important for when this is applied to <a> elements
  box-sizing: border-box;
  outline: none;

  background: transparent;
  border: 2px solid $highlight-5;
  border-radius: .3em;
  color: $highlight-5;

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &:disabled {
    filter: grayscale(1);
  }

  &:focus {
    color: $highlight-6;
    border-color: $highlight-6;
    outline: none;
  }
  &:focus, &[aria-expanded="true"] {
    box-shadow: 0 0 .1em .2rem $highlight-10;
  }

  &:hover:not(:disabled) {
    color: $highlight-7;
    border-color: $highlight-7;
  }

  // Variations

  // A default button
  &.-primary {
    background: $highlight-5;
    color: white;
    &.-icon::before,
    &.-icon:focus::before,
    &.-icon:hover::before {
      background-position-y: -1em * $icon-row-white;
    }

    &:focus {
      background-color: $highlight-6;
    }
    // Make the shadow a bit larger for primary buttons so it stands out more
    &:focus, &[aria-expanded="true"] {
      box-shadow: 0 0 .2rem .4rem $highlight-10;
    }

    &:hover:not(:disabled) {
      color: white;
      background-color: $highlight-7;
    }
  }

  // A button without a border, somewhat like a link
  &.-borderless {
    border-style: dotted;
    border-color: transparent;
    transition: border-color 0.2s, background-color 0.2s;

    &:hover:not(:disabled) {
      border-color: transparent;
      background-color: $highlight-10;
    }

    &:focus {
      border-color: $highlight-6;
      outline: none;
    }
    &:focus, &[aria-expanded="true"] {
      box-shadow: none;
      background-color: $highlight-9-5;
    }
    &:focus:hover:not(:disabled) {
      border-color: $highlight-7;
      background-color: $highlight-10;
    }
  }

  // A large button
  &.-large {
    font-size: 1.4rem;
    padding: 0.5em 1.4em;
    border-radius: 2em;
    &.-icon {
      padding-left: 1.4em + 1em + 0.5em;
    }
  }

  // A centered button
  &.-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  // But if it's an icon button, don't override the flex display
  &.-center.-icon {
    display: flex;
  }

  &.-yellow {
    background: $yellow-8;
    color: $yellow-4;

    &:hover:not(:disabled) {
      background-color: $yellow-9-5;
      border-color: transparent;
    }
    &:active, &:focus {
      border-color: $yellow-4;
      &:hover:not(:disabled) {
        border-color: $yellow-5;
      }
    }
    &:active, &:focus, &[aria-expanded="true"] {
      background-color: $yellow-9;
    }
  }
}

@media screen and (max-width: 600px) {
  .button {
    &.-large {
      font-size: 1.2rem;
    }
  }
}

// Icon styles for buttons and links are common. I don't know where this belongs
// because I still don't really get ITCSS.
button.-icon, a.-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em + 1em + 0.5em;

  &::before {
    content: "";
    display: inline-block;
    position: relative;

    width: 1em;
    height: 1em;

    background-image: url('img/icons.svg');
    background-position-y: -1em * $icon-row-highlight-5;
    background-size: $icon-columns+em $icon-rows+em;
    background-repeat: no-repeat;

    margin-left: -1.5em;
    margin-right: 0.5em;
  }

  &:focus::before {
    background-position-y: -1em * $icon-row-highlight-6;
  }
  &:hover:not(:disabled)::before {
    background-position-y: -1em * $icon-row-highlight-7;
  }

  &.-yellow::before {
    background-position-y: -1em * $icon-row-yellow-4;
  }
  &.-yellow:hover:not(:disabled)::before {
    background-position-y: -1em * $icon-row-yellow-5;
  }

  &.-grey::before {
    background-position-y: -1em * $icon-row-neutral-6;
  }
  &.-grey:focus::before {
    background-position-y: -1em * $icon-row-highlight-6;
  }

  &.-search::before {
    background-position-x: -1em;
  }
  &.-sync::before {
    background-position-x: -2em;
  }
  &.-delete::before {
    background-position-x: -3em;
  }
  &.-add-card::before {
    background-position-x: -4em;
  }
  &.-add-note::before {
    background-position-x: -19em;
  }
  &.-edit::before {
    background-position-x: -5em;
  }
  &.-edit-card::before {
    background-position-x: -6em;
  }
  &.-lookup::before {
    background-position-x: -7em;
  }
  &.-review::before {
    background-position-x: -8em;
  }
  &.-close::before {
    background-position-x: -9em;
  }
  &.-play::before {
    background-position-x: -12em;
  }
  &.-pause::before {
    background-position-x: -13em;
  }
  &.-settings::before {
    background-position-x: -14em;
  }
  &.-dotdotdot::before {
    background-position-x: -15em;
  }
}

button.-icon.-nolabel, a.-icon.-nolabel {
  font-size: 0;
  &::before {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
  &.-large::before {
    font-size: 1.4rem;
  }
}

button.-badge::after, a.-badge::after {
  position: relative;
  transform: translate(.2rem, -.3rem);

  font-size: .7rem;
  height: .9rem;
  min-width: .7rem;
  padding: .1rem .2rem;
  text-align: center;
  whitespace: nowrap;

  background: $highlight-5;
  border-radius: .5rem;
  color: white;
  content: attr(data-badge);
  display: inline-block;
}

@mixin grey-button($icon-column) {
  font-size: 0;

  &::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    padding: 1rem;
    display: inline-block;
    background: url('img/icons.svg') ($icon-column * -100%) -400% / (($icon-columns * 1.2)+rem) ($icon-rows * 1.2)+rem content-box;
  }
}

.close-button {
  @include grey-button(9);
}

.settings-button {
  @include grey-button(14);
}
