.cardface-input {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  @include vertical-center;

  > .DraftEditor-root {
    // Make the text area fill the component height
    flex: 1;

    @include vertical-center;

    > .DraftEditor-editorContainer {
      height: 100%;
    }

    > .public-DraftEditorPlaceholder-root {
      color: $light-grey;
    }

    &:hover > .public-DraftEditorPlaceholder-root {
      color: $dark-grey;
    }

    > .public-DraftEditorPlaceholder-hasFocus {
      display: none;
    }

    // Vertically center contents
    .public-DraftEditor-content {
      @include vertical-center;
    }
  }
}
