.cancelable-textbox-group {
  display: inline-block;
}
.cancelable-textbox-cancel {
  width: 2em;
  margin: 0;
  margin-left: -2em;
  padding-left: 0;
  padding-right: 0;
  border: 0;
  transition: transform 0.3s;
}
.cancelable-textbox-cancel[aria-hidden=true] {
  transform: scale(0);
}
.cancelable-textbox-cancel span {
  position: absolute;
  left: -10000px;
}
.cancelable-textbox-cancel::after {
  color: lightgrey;
  content: "X";
  font-weight: bold;
}
.cancelable-textbox-cancel:hover::after {
  color: grey;
}
.cancelable-textbox-group input[type="text"]::-ms-clear,
.cancelable-textbox-group input[type="search"]::-ms-clear {
  display: none;
}
