.tab-block {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  // Reset list styles
  list-style: none;
  padding: 0;
  margin: 0;

  &.-white {
    background: white;
    border: $really-light-grey solid $border-width;
  }

  & > .highlight-bar {
    position: absolute;
    left: 0;
    top: 0;

    height: $border-width * 2;
    background-color: $highlight;
    transition: transform 0.15s;
    transform: scale(0, 0) translate(0%);
    will-change: transform;
  }
}

.tab-item {
  flex: 1;
  text-align: center;
  min-height: 45px;

  border-top: $border-width * 2 solid transparent;
  color: $text-color;

  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    height: 100%;
  }

  // Unselected links should be colored dark
  &:not(.-active) > a {
    color: $text-color;
    &.-icon::before {
      background-position-y: -1rem;
    }
  }

  &:hover,
  &:focus-within {
    border-color: $dark-grey;
  }
  &.-active {
    color: $highlight;
  }
  // Make the highlight bar also go brighter
  &.-active:hover ~ .highlight-bar,
  &.-active:focus-within ~ .highlight-bar {
    filter: brightness(1.2);
  }

  // Turn off outlines on links since it looks silly on touchscreen devices and
  // I haven't found a good way to detect when it looks silly and when it
  // doesn't.
  a:focus {
    outline: 0;
  }
}
