.editcard-form {
  box-sizing: border-box;

  @include card-styles;

  > * {
    box-sizing: border-box;
    width: 100%;
  }

  > .prompt, > .answer {
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 5rem;

    color: lighten($text-color, 20%);
    &:hover, &:focus-within {
      color: $text-color;
    }
  }

  > .divider {
    width: 80%;
  }

  > .tags, > .keywords {
    display: flex;
    border-top: 1px dotted transparent;

    > .icon {
      margin-top: 1.2rem;
      margin-left: .9rem;
    }

    > .tokens {
      flex: 1;
    }

    > .icon, > .tokens > .textentry {
      opacity: 0.7;
    }
    &:hover, &:focus-within {
      border-top: 1px dotted $dark-grey;
      > .icon, > .tokens > .textentry {
        opacity: 1;
      }
    }
  }

  > .keywords {
    background-color: $keyword-yellow;

    &:hover, &:focus-within {
      border-top-color: $keyword-yellow-dark;
    }

    > .icon {
      background-position-y: -5em;
    }
  }
}
