.review-panel {
  overflow-x: hidden;

  > .cards {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    outline: none;

    > .cardwrapper {
      position: absolute;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      > .review-card {
        width: calc(100% - 2em);
        max-width: 700px;
        box-sizing: border-box;
        transition: transform 0.2s;
      }
      // This is what makes it square
      > .review-card::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      &.previous {
        pointer-events: none;
        > .review-card {
          transform: translate(calc(-100vw - 2em));
        }
      }
      &.next {
        pointer-events: none;
        > .review-card {
          transform: translate(calc(100vw + 2em));
        }
      }
    }
  }

  > .notes-header {
    display: flex;
    align-items: center;

    > .line {
      flex: 1;
      border-top: 1px solid $neutral-7;
    }

    > .title {
      padding-left: 1em;
      padding-right: 1em;
      color: $neutral-6;
    }
  }

  > .notes, > .notes-header {
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  > .answer-buttons {
    transition: opacity 0.2s;

    &[hidden] {
      // Override UA style
      display: block;

      opacity: 0;
      pointer-events: none;
    }

    > .fail,
    > .pass {
      background: transparent;
      -webkit-tap-highlight-color: transparent;
      position: fixed;

      --hit-region-width: 8rem;
      --hit-region-height: 9rem;
      --buttonface-radius: 7rem;

      @media screen and (max-width: 600px) {
        --hit-region-width: 6rem;
        --hit-region-height: 7rem;
        --buttonface-radius: 5rem;
      }

      width: var(--hit-region-width);
      max-width: 33%;
      height: var(--hit-region-height);

      top: calc(50% - var(--hit-region-height));

      border: none;
      border-radius: 0px;
      opacity: 0.5;
      padding: 0;

      text-align: center;

      > .buttonface {
        display: inline-block;
        width: calc(2 * var(--buttonface-radius));
        height: calc(2 * var(--buttonface-radius));
        border-radius: var(--buttonface-radius);
        color: white;
        font-weight: bold;
        font-size: 1rem;
        transition: transform 0.15s;

        margin-top: calc(var(--hit-region-height) - var(--buttonface-radius));

        > .icon {
          width: calc(var(--buttonface-radius) * 0.8);

          height: calc(var(--buttonface-radius) * 1.6);
          margin-top: calc(var(--buttonface-radius) * 0.2);
        }
      }

      &:active {
        transform: translateY(2px);
      }
    }
    > .fail {
      left: 0;

      > .buttonface {
        transform: translateX(calc(-1 * var(--buttonface-radius)));
        background: $red-6;

        > .icon {
          margin-left: calc(var(--buttonface-radius) * 0.85);
          color: $red-9;
        }
      }
      &:focus > .buttonface,
      &:hover > .buttonface {
        transform: translateX(calc(-1 * var(--buttonface-radius))) scale(1.2);
      }
    }
    > .pass {
      right: 0;

      > .buttonface {
        transform: translateX(
          calc(var(--hit-region-width) - var(--buttonface-radius))
        );
        background: $green-6;

        > .icon {
          margin-left: calc(var(--buttonface-radius) * -0.85);
          color: $green-9;
        }
      }
      &:focus > .buttonface,
      &:hover > .buttonface {
        transform: translateX(
            calc(var(--hit-region-width) - var(--buttonface-radius))
          )
          scale(1.2);
      }
    }
  }
}
