.editcard-form {
  box-sizing: border-box;

  @include card-styles;

  > * {
    box-sizing: border-box;
    width: 100%;
  }

  > .tags, > .keywords {
    display: flex;
    border-top: 1px dotted transparent;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    > .icon {
      margin-top: 1rem;
      margin-left: .9rem;
    }

    > .tokens {
      flex: 1;
    }

    > .icon, > .tokens > .textentry {
      opacity: 0.7;
    }
    &:hover, &:focus-within {
      border-top: 1px dotted $dark-grey;
      > .icon, > .tokens > .textentry {
        opacity: 1;
      }
    }
  }

  > .keywords {
    background-color: $keyword-yellow;

    &:hover, &:focus-within {
      border-top-color: $keyword-yellow-dark;
    }

    > .icon {
      background-position-y: -5em;
    }
  }
}
