.editcard-form {
  box-sizing: border-box;

  background: white;
  border: $border-width solid $dark-grey;
  border-radius: 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 30, 0.2);

  > * {
    box-sizing: border-box;
    width: 100%;
  }

  input[type=text], input[type=search], textarea {
    border: none;
    background: transparent;
    border-radius: 0;

    &::placeholder {
      opacity: initial;
      color: $dark-grey;
    }

    &.-yellow {
      background: $keyword-yellow;
      &::placeholder {
        color: $keyword-yellow-dark;
      }
    }
  }

  > .divider {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    height: 1%;
    width: 80%;
    border: none;
    border-top: 2px dotted $dark-grey;
  }

  .-textpanel {
    padding-left: 1rem;
    padding-right: 1rem;

    &.-large {
      min-height: 5rem;
    }

    color: lighten($text-color, 30%);
    &:hover, &:focus-within {
      color: $text-color;
    }
  }
}
