.home-screen {
  display: flex;
  flex-direction: column;

  & > .content-screen {
    flex: 1;
    overflow: auto;

    // XXX Not sure if I need this...
    box-sizing: border-box;
    padding: 10px;
  }
}
