.edit-screen {
  height: 100%;

  > .buttons {
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0px;
  }

  > .form {
    margin: 1rem;
    margin-bottom: 0;
  }

  > .savestate {
    margin: 0.2rem 2rem;
    opacity: 0.5;
  }

  > .divider {
    width: 70%;
    margin-bottom: 1rem;
  }

  > .notes {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}
