.menu-item {
  list-style: none;
  min-width: 180px;

  & > .command {
    display: flex;
    align-items: center;
    margin-inline-end: 15px;
    min-height: 40px;
    padding: 4px 12px;
    outline: none;
    border: none;
    color: $highlight-4;
    background-color: transparent;
    text-align: start;
    width: 100%;

    -moz-user-select: none;
    user-select: none;

    &:not([disabled]):hover,
    &:not([disabled]):focus, {
      background-color: $highlight-10;
    }

    &:not([disabled]):hover:active {
      background-color: $highlight-9;
    }

    &.-iconic > .label::before {
      content: " ";
      display: inline-block;
      margin-inline-end: 0.5em;
      width: 1em;
      height: 1em;
      background-image: url('img/icons.svg');
      background-position-y: -3em;
      background-size: $icon-columns+em $icon-rows+em;
      background-repeat: no-repeat;
      /* Better optical alignment than with 'vertical-align: middle'.
         Works well with font sizes between 12px and 16px. */
      vertical-align: -3px;
    }
    &.-edit > .label::before {
      background-position-x: -5em;
    }

    &.-delete {
      color: $red-6;
      &:not([disabled]):hover,
      &:not([disabled]):focus, {
        background-color: $red-10;
      }

      &:not([disabled]):hover:active {
        background-color: $red-9;
      }

      & > .label::before {
        background-position-x: -3em;
        background-position-y: -5em;
      }
    }
  }
}
