// Special buttons

input[type=button], input[type=submit], input[type=reset], button, a.button {
  // A default button
  &.-primary {
    background: $highlight;
    color: white;
    &.-icon::before {
      background-position-y: -4em;
    }
  }

  // Some buttons should look like links
  &.-link {
    border-width: 0;
  }

  // A large button
  &.-large {
    font-size: 1.4rem;
    padding: 0.5em 1.4em;
    border-radius: 2em;
    &.-icon {
      padding-left: 1.4em + 1em + 0.5em;
    }
  }

  // A centered button
  &.-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  // But if it's an icon button, don't override the flex display
  &.-center.-icon {
    display: flex;
  }

  &.-yellow {
    background: $keyword-yellow;
    color: $keyword-yellow-dark;

    &:active, &:focus {
      filter: brightness(1.03);
      border-color: $keyword-yellow-dark;
      border-style: dotted;
    }
    &:hover {
      filter: brightness(1.08);
    }
  }
}

@media screen and (max-width: 600px) {
  input[type=button], input[type=submit], button, a.button {
    &.-large {
      font-size: 1.2rem;
    }
  }
}

// Icon styles for buttons and links are common. I don't know where this belongs
// because I still don't really get ITCSS.
button.-icon, a.-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em + 1em + 0.5em;

  &::before {
    content: "";
    display: inline-block;
    position: relative;

    width: 1em;
    height: 1em;

    background-image: url('img/icons.svg');
    background-position-y: -3em;
    background-size: $icon-columns+em $icon-rows+em;
    background-repeat: no-repeat;

    margin-left: -1.5em;
    margin-right: 0.5em;
  }
  &.-yellow::before {
    background-position-y: -5em;
  }
  &.-search::before {
    background-position-x: -1em;
  }
  &.-sync::before {
    background-position-x: -2em;
  }
  &.-delete::before {
    background-position-x: -3em;
  }
  &.-add-card::before {
    background-position-x: -4em;
  }
  &.-add-note::before {
    background-position-x: -19em;
  }
  &.-edit::before {
    background-position-x: -5em;
  }
  &.-edit-card::before {
    background-position-x: -6em;
  }
  &.-lookup::before {
    background-position-x: -7rem;
  }
  &.-review::before {
    background-position-x: -8em;
  }
  &.-play::before {
    background-position-x: -12em;
  }
  &.-pause::before {
    background-position-x: -13em;
  }
  &.-settings::before {
    background-position-x: -14em;
  }
}

button.-badge::after, a.-badge::after {
  position: relative;
  transform: translate(.2rem, -.3rem);

  font-size: .7rem;
  height: .9rem;
  min-width: .7rem;
  padding: .1rem .2rem;
  text-align: center;
  whitespace: nowrap;

  background: $highlight;
  border-radius: .5rem;
  color: white;
  content: attr(data-badge);
  display: inline-block;
}

@mixin grey-button($icon-column) {
  font-size: 0;

  &::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    padding: 1rem;
    display: inline-block;
    background: url('img/icons.svg') ($icon-column * -100%) -200% / (($icon-columns * 1.2)+rem) ($icon-rows * 1.2)+rem content-box;
  }
}

.close-button {
  @include grey-button(9);
}

.settings-button {
  @include grey-button(14);
}
