.edit-screen {
  position: absolute;
  overflow: auto;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: $really-light-grey;

  transition: opacity 0.1s 0.05s ease-in;
  will-change: opacity;

  &[aria-hidden=true] {
    opacity: 0.01;
    transition-delay: 0s;
    pointer-events: none;
  }

  > .buttons {
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0px;
  }

  > .form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.tool-bar {
  background: white;
  box-shadow: 0 2px 2px $light-grey;
  padding: 0.5rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;

  > * {
    flex: 1 0 0;

    display: flex;
    align-items: center;
  }

  > .-center {
    flex: 0 0 auto;
  }

  > *:last-child {
    justify-content: flex-end;
  }

  .close-button {
    padding: .5rem;
  }
}

$blur-opacity: 0.54;
$hover-opacity: 0.7;

.edit-form {
  > * {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }

  input[type=text], textarea {
    &::placeholder {
      opacity: initial;
      color: $light-grey;
    }
    &:hover::placeholder {
      color: $dark-grey;
    }

    &.-yellow {
      background: $keyword-yellow;
      &::placeholder {
        color: $keyword-yellow-dark;
      }
    }
  }
}

.search-box {
  padding: 1rem 1rem;

  > .text-box {
    width: 100%;
  }
}

.-textpanel {
  border: none;
  border-radius: 0;
  border-top: 1px solid $light-grey;

  padding-left: 1rem;
  padding-right: 1rem;

  background: white;

  &.-large {
    min-height: 5rem;
  }

  opacity: $blur-opacity;
  &:hover {
    opacity: $hover-opacity;
  }
  &:focus, &.hasFocus {
    opacity: 1;
    border-top-color: $highlight;
    box-shadow: 0 -.2rem 0 .2rem lighten($highlight, 50%);
  }

  &.-yellow, &.yellow:focus, &.yellow.hasFocus {
    border-top-color: $keyword-yellow-dark;
  }
  &.-yellow:focus, &.-yellow.hasFocus {
    box-shadow: 0 -.2rem .4rem .2rem $keyword-yellow;
  }
}
