.edit-screen {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: white;

  transition: opacity 0.1s 0.05s ease-in;
  will-change: opacity;

  &[aria-hidden=true] {
    opacity: 0.01;
    transition-delay: 0s;
    pointer-events: none;
  }

  > .form {
    width: 100%;
    max-width: 60rem;
    margin-top: 2rem;
    height: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;
  }
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;

  > .cardfields {
    width: 100%;
    flex-shrink: 1;
    overflow: auto;
    padding: .5rem;
  }

  input[type=text] {
    display: block;
    width: 100%;
  }

  .keywords {
    background: lemonchiffon;
  }

  .prompt {
    margin-top: 1rem
  }

  .prompt, .answer {
    height: 5rem;
  }

  .submit {
    margin-top: 1rem;
  }
}
