input[type=submit], input[type=reset], input[type=button], button, a.button {
  padding: .4em 1em;
  outline: none;

  background: transparent;
  border: $border-width solid $highlight;
  border-radius: .3em;
  color: $highlight;

  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    /*
     * Using a filter here (and below) means that when we put SVG icons in
     * the buttons we don't have to prepare special recolored versions of them.
     */
    filter: brightness(1.2);
  }

  &:disabled, &:hover:disabled {
    filter: grayscale(1);
  }
}
