/*
 * Forms - buttons
 */

input[type=button], input[type=submit], button, a.button {
  background: transparent;
  border: $border-width solid $highlight;
  color: $highlight;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover {
    /*
     * Using a filter here (and below) means that when we put SVG icons in
     * the buttons we don't have to prepare special recolored versions of them.
     */
    filter: brightness(1.2);
  }

  &.-primary {
    background: $highlight;
    color: white;
    &:hover {
      filter: brightness(1.2);
    }
  }

  &:disabled, &:hover:disabled {
    filter: grayscale(1);
  }

  &.-link {
    color: $highlight;
    border-width: 0;
    padding-left:  .3rem;
    padding-right: .3rem;
  }

  &.-large {
    font-size: 1.4rem;
    padding: 0.5em 1.4em;
    border-radius: 2em;
  }

  &.-shadow {
    box-shadow: grey 0 0 1rem;
  }

  &.-icon {
    padding-left: 1em + 1em + 0.5em;
  }
  &.-icon::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1em;
    height: 1em;

    background-position-y: -3em;
    background-size: $num-icons+em 5em;
    background-repeat: no-repeat;
    margin-left: -1.5em;
    margin-top: 0.1em;

    background-image: url('img/icons.svg');
  }
  &.-large.-icon {
    padding-left: 1.4em + 1em + 0.5em;
  }
  &.-search::before {
    background-position-x: -1em;
  }
  &.-sync::before {
    background-position-x: -2em;
  }
  &.-delete::before {
    background-position-x: -3em;
  }
  &.-add-card::before {
    background-position-x: -4em;
  }
  &.-edit::before {
    background-position-x: -5em;
  }
  &.-edit-card::before {
    background-position-x: -6em;
  }
  &.-review::before {
    background-position-x: -8em;
  }
  &.-play::before {
    background-position-x: -12em;
  }
  &.-pause::before {
    background-position-x: -13em;
  }

  &.-primary::before {
    background-position-y: -4em;
  }
}

@media screen and (max-width: 600px) {
  input[type=button], input[type=submit], button, a.button {
    &.-large {
      font-size: 1.2rem;
    }
  }
}
