/*
 * Forms - textboxes
 */

input[type=search] {
  // Undo changes from normalize.css
  box-sizing: border-box;
}

.text-box {
  -webkit-appearance: none;
  background: #fff;
  background-image: none;
  border: $border-width solid $light-grey;
  color: $text-color;
  height: 3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;

  &:hover {
    border-color: $dark-grey;
  }

  &:focus {
    border-color: $highlight;
    box-shadow: 0 0 0 .2rem lighten($highlight, 50%);
  }

  &.-compact {
    height: 2.5rem;
    padding-left: .3rem;
    padding-right: .3rem;
  }

  &.-rounded {
    border-radius: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &.-search {
    background-position: 0.9rem;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    padding-left: 2.5rem;
    background-image: url('img/icons.svg#search-grey');
  }
}
