@import 'settings-colors';
@import 'settings-sizing';
@import 'settings-icons';

@import '~normalize-css/normalize';
@import '~draft-js/dist/Draft';

@import 'generic-sizing';
@import 'generic-color';
@import 'generic-forms';

@import 'elements-links';
@import 'elements-textbox';
@import 'elements-buttons';
@import 'elements-forms';

@import 'components-app';
@import 'components-buttons';
@import 'components-cancelable-textbox';
@import 'components-cardface-input';
@import 'components-close-button';
@import 'components-edit-screen';
@import 'components-editcard-form';
@import 'components-editcard-toolbar';
@import 'components-home-screen';
@import 'components-nav-bar';
@import 'components-pop-up';
@import 'components-popup-panel';
@import 'components-settings-panel';
@import 'components-stacked-group';
@import 'components-summary-panel';
@import 'components-tab-block';
@import 'components-tab-panel';
@import 'components-textbox';

/*
 * Error panel
 */
.error-panel {
  margin: 0rem 0.5rem;
  padding-bottom: 1rem;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.error-details {
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*
 * Sync settings panel
 */
.sync-settings .sync-icon {
  background: url('img/sync-icons.svg#sync-full') 0% / 100% 100% content-box;
}
.sync-settings.in-progress .sync-icon {
  animation: rotate 1s linear infinite;
}
.sync-settings.paused .sync-icon {
  background-image: url('img/sync-icons.svg#sync-pause');
}
.sync-settings.offline .sync-icon {
  background-image: url('img/sync-icons.svg#sync-offline');
}
.sync-settings.error .sync-icon {
  background-image: url('img/sync-icons.svg#sync-error');
}
.sync-settings.not-configured .sync-icon {
  background-image: url('img/sync-icons.svg#sync-hollow');
}
.sync-settings.in-progress progress {
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
fieldset[name=sync-server] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0.5rem 1rem;
  & > * {
    margin: 0.5rem;
  }
  & .server-summary {
    flex: 1;
  }
  & .server-name {
    font-weight: bold;
    white-space: nowrap;
  }
  & button {
    flex: 0;
  }
}
form[name=sync-server-settings] {
  display: inline-block;
  text-align: center;
  position: relative;
  max-width: 100%;
  & > * {
    display: block;
    margin-top: 0.4rem;
  }
  & > *, & input {
    margin-left: 0;
    margin-right: 0;
    width: 25rem;
    max-width: 100%;
  }
  & input.primary {
    margin-top: 0.8rem;
  }
  input[name=username],
  input[name=password] {
    background-position: 0.9rem;
    /* We want to use 'background-size: auto 45%' here but Chrome seems to
     * have trouble with 'auto' values. */
    background-size: 1.3rem 1.3rem;
    background-repeat: no-repeat;
    padding-left: 2.8rem;
  }
}

/*
 * Card grid
 */
.card-grid {
  position: relative;
}
.card-grid > * {
  position: absolute;
}
.grid-item {
  transform-origin: 0% 0%;
}

/* Item animations */
.grid-item.moving {
  transition: transform 0.15s 0.2s ease-in;
}
.grid-item.moving.changed-row {
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

.grid-item .scale-wrapper {
  transition-property: transform;
  transition-delay: inherit;
  /* Reveal transition */
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(.85,0.1,.45,1.7);
}
.grid-item.adding .scale-wrapper,
.grid-item.deleting .scale-wrapper {
  will-change: transform;
  transform: scale(0);
}

.grid-item.deleting {
  pointer-events: none;
}
.grid-item.deleting .scale-wrapper {
  transition: transform 0.3s cubic-bezier(0,-0.5,1,-0.5);
}

.card-preview {
  display: inline-block;
  position: relative;
  background: white;
  border-radius: .2rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  margin: .6rem;
  height: 8rem;
  width: 8rem;
  text-align: center;
  overflow: hidden;
  color: black;
}
.card-preview .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: .4rem;
  overflow: hidden;
}
// Hover states
.card-preview {
  transition: transform 0.2s;
  box-sizing: border-box;
}
.card-preview:hover {
  border: $border-width solid $hover-highlight;
  transform: scale(1.07);
}
