$icon-columns: 24;
$icon-rows: 12;

$icon-row-black: 0;
$icon-row-white: 1;
$icon-row-outline: 2;
$icon-row-text-color: 3;
$icon-row-neutral-6: 4;
$icon-row-highlight-5: 5;
$icon-row-highlight-6: 6;
$icon-row-highlight-7: 7;
$icon-row-yellow-4: 8;
$icon-row-yellow-5: 9;
$icon-row-yellow-6: 10;
$icon-row-red-6: 11;

$num-sync-icons: 10;
