$highlight: #2690BA;
$hover-highlight: lighten(#2690BA, 15%);

$text-color: #333;

$really-light-grey: #f2f2f2;
$light-grey: #dbdbdb;
$dark-grey: #c5c5c5;

$keyword-yellow: lemonchiffon;
$keyword-yellow-dark: darken($keyword-yellow, 60%);

$fail-red: #e10000;
$pass-green: #00b900;
