$highlight: #2690BA;
$hover-highlight: lighten(#2690BA, 15%);

$text-color: #323335;

$standard-grey: #aaabad;
$really-light-grey: #f1f2f3;
$light-grey: #dbdcde;
$dark-grey: #c3c5ce;

$keyword-yellow: hsl(54, 100%, 90.2%);
$keyword-yellow-dark: hsl(54, 100%, 40.2%);
$keyword-yellow-lighter: hsl(54, 75%, 95%);
$keyword-yellow-dim: hsl(54, 75%, 90.2%);
$keyword-yellow-dimmer: hsl(54, 50%, 90.2%);

$fail-red: #e10000;
$pass-green: #00b900;

$warning-red: #e14700;

:root {
  --text-black: #{$text-color};
  --text-green: #28a228;
  --text-blue: #{$highlight};
  --text-purple: #ae59b6;
  --text-red: #{$fail-red};
  --text-orange: #d35400;
}
