@mixin rich-text {
  .bold {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }

  .underline {
    text-decoration: underline;
  }

  .dotemphasis {
    text-emphasis: dot;
    -webkit-text-emphasis: dot;
  }
}
