.vscode
node_modules
npm-debug.log*
public/10sai.js
public/10sai.js.map
public/_database.js
public/_database.js.map
public/_grid.js
public/_grid.js.map
public/10sai.css
public/10sai.css.map
public/*.LICENSE
storybook-static
tags
