body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #333;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1, h2, h3 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
