.control-overlay {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  pointer-events: none;

  > .buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }
  > .buttons > button,
  > .buttons > .button {
    pointer-events: auto;
  }
}

@media screen and (max-width: 800px) {
  .control-overlay {
    > .buttons {
      padding: 2.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .control-overlay {
    > .buttons {
      padding: 2rem;
    }
  }
}
